In [56]:
import pandas as pd

### Train Dataset

In [58]:
ds = pd.read_csv("data/train/small.csv")

In [60]:
ds.head(4)

,_id,business_id,review_id,stars,text,useful
0,5ad77a48d209ba1dce460064,eLFfWcdb7VkqNyTONksHiQ,7ECYfYWSx5_SEIYsDiCZ1A,5,"Great all you can eat Korean BBQ. Very clean, ...",1
1,5ad77a94d209ba1dce5c7096,Yp9w4nhUowBU_IS_StFXbQ,uBkU8wLvQCCCL0TZ8ESLaw,5,This place is sort of hidden. It's behind the...,1
2,5ad77b87d209ba1dce91f888,5md4i4diIWMNYQgHMj_Nbg,4xlVPqc8nuEWeIQYCL0FEA,5,The hoover dam kayaking tour was great. No pro...,0
3,5ad77aead209ba1dce6dccd7,XBEx2FI2GKmsjs7eWNr7Lw,CyaJqWU8bmaEPLWgxekAOg,5,"Awesome acai bowls. As a cheesecake lover, I w...",1

### Test Dataset

In [59]:
TEST_FILE = 'data/test/10.json'

In [49]:
import json
with open(TEST_FILE,'r') as json_file:    
    data = json.load(json_file)

In [69]:
count = 0 
for review in data["yelp"][0]["reviews"]:
    print("-----------------------------------------------------")
    print(review["text"])
    print("Rating: ",review["ratings"])
    count += 1
    if count == 3:
        break

-----------------------------------------------------
This is one of my top 3 places to get BBQ pork (char siu). It is not the cheapest option, but you get what you pay for. My other go tos include Kum Hong BBQ and Skyview Fusion restaurant.
('Rating: ', 4)
-----------------------------------------------------
This restaurant is famous for their BBQ dishes and they are actually very good. It also has a variety of other non-BBQ dishes. Compare to other places that sell BBQ dishes, this restaurant is a bit pricey but their dishes are pretty good.
('Rating: ', 3)
-----------------------------------------------------
Roasted pork is one of my favorite things... And we pay a premium for the meat around the ribs and the belly area because of the wonderful marbling...  beautiful layer after layer of alternating meat and fat.  My wife bought some from John's today... paid a premium for this "cut" and when I opened up the box it was all meaty pieces without marbling... Very disappointed.  The flavour was decent but not the cut we paid for.  Probably best to keep going to the BBQ place at Valleymede and HWY 7 (north side) in the plaza with McDees.
('Rating: ', 2)

### Other Variations of Train Set in size

In [72]:
d = pd.read_csv("data/train/50K.csv")
d.shape

(50000, 6)

In [73]:
d = pd.read_csv("data/train/10K.csv")
d.shape

(10000, 6)

In [74]:
d["indicator"] = d["useful"]  * d["stars"]

In [75]:
d.head()

,_id,business_id,review_id,stars,text,useful,indicator
0,5ad77a66d209ba1dce5030b2,kcF-en40P3J9L8nLy5lKqQ,XJEz7zcJzwMWyoAv22hIvQ,5,Everything about Central Bistro was fantastic!...,3,15
1,5ad77b05d209ba1dce748580,ZibmYdOPKLlqDM9oR6xzOA,RX_u02e8FSaGeV2CEP5B9g,4,"Went before 6pm, before the dinner crowd and h...",0,0
2,5ad77b1fd209ba1dce7a37dd,LXrSnbUlEnw_fI7A2Dpp9Q,Jc3j0FGT_KWXhA_UWgj9eg,4,I shop at Nordstrom somewhat regularly.\n\nA b...,12,48
3,5ad77ac3d209ba1dce66dbde,66jwLkSd6M0cZulZrA3zcw,EMIWAZ_WKD-_d4VQOEQRQg,5,"Came for dinner, it happened to be late night ...",0,0
4,5ad77abfd209ba1dce65da1c,hhLKp8ilQac7M5UTTpnPnQ,V6KzjQzd38q_1i3Ghpurzw,5,I am VERY particular about getting my nails do...,5,25

REMOVE STOPWORDS

In [ ]:
from nltk.corpus import stopwords
def clean_text(text, remove_stopwords = True):
    
    
    # Convert words to lower case
    text = text.lower()
    
# A Python library for expanding and creating common English contractions in text. 
#This is very useful for dimensionality reduction by normalizing the text before generating word or character vectors. 
#It performs contraction by simple replacement rules of the commonly used English contractions.
#Replace contractions with their longer forms 
    if True:
        text = text.split()
        new_text = []
        for word in text:
            if word in contractions:
                new_text.append(contractions[word])
            else:
                new_text.append(word)
        text = " ".join(new_text)
      
    
    # Optionally, remove stop words
    if remove_stopwords:
        text = text.split()
        stops = set(stopwords.words("english"))
        text = [w for w in text if not w in stops]
        text = " ".join(text)

    return text